@charset "utf-8";

html, body{width: 100%; height: 100%; background: rgb(0,49,176); background: radial-gradient(circle, rgba(0,49,176,1) 0%, rgba(0,18,67,1) 100%);}

.wrapper{position: relative; height: inherit;}

.logo{display: inline-block; text-indent: -9999px; width: 60px; height: 60px; background-repeat: no-repeat;background-position: center;  background-size: cover; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 27.7.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 150 137' style='enable-background:new 0 0 150 137;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%235E7083;%7D%0A%3C/style%3E%3Cg%3E%3Cpolygon class='st0' points='52.2,120.6 57.2,131.1 66.7,126.6 53.2,120.2 '/%3E%3Cpolygon class='st0' points='76.3,109.2 89.8,115.6 112.6,104.7 107.7,94.3 '/%3E%3Cpath class='st0' d='M132.1,28c0,31.2-24.1,57-54.6,59.6V82c27.2-2.9,48.5-26,48.5-54h-11.6c0,21.6-16.1,39.4-36.9,42.3V59.5h-5.8 C59.2,59.5,49,49.3,49,36.7C49,27.1,57.7,18,66.9,18c10.7,0,18.2,5.8,18.3,14.2c0,1.8-0.3,6.3-3.3,9.3c-2,2-4.9,2.9-8.8,2.8 c-6.5-0.1-9.3-6.2-9.3-9.2H52.2c0,9.9,8.3,20.6,20.7,20.8c8.8,0.2,14.2-3.3,17.1-6.2c4.3-4.3,6.8-10.7,6.7-17.6 C96.6,17.2,84.1,6.4,66.9,6.4c-15.7,0-29.5,14.2-29.5,30.3c0,17,12.4,31.1,28.6,33.9v8.7c-25.7-3-45.6-24.9-45.6-51.3H8.7 c0,32.9,25.2,59.9,57.2,63v13.3l5.6,2.6l6.1-2.9v-4.8c6-0.4,11.8-1.6,17.3-3.5c5.2-1.7,10.2-4.1,14.8-6.9 c20.4-12.6,34.1-35.2,34.1-60.9H132.1z'/%3E%3Crect x='54.7' y='82' transform='matrix(0.4299 -0.9029 0.9029 0.4299 -67.2391 118.8799)' class='st0' width='11.6' height='61.4'/%3E%3C/g%3E%3C/svg%3E");}

/* input form */

input[type='text']{-webkit-appearance: none; display: inline-block; width: 100%; border: 1px solid #cccccc; background-color: #fff; font-size: 14px; line-height: 20px; padding: 8px; border-radius: 2px;}
input[type='password']{-webkit-appearance: none; display: inline-block; width: 100%; border: 1px solid #cccccc; background-color: #fff; font-size: 14px; line-height: 20px; padding: 8px; border-radius: 2px;}

button{font-family: OneShinhanM; border-radius: 4px; transition: 0.3s all; word-break: keep-all;}
button.bsc{border: 1px solid #003fe7; color: #fff; display: inline-block; width: 100%; font-size: 16px; line-height: 20px; padding: 8px; background: rgba(0,18,67,1); background: linear-gradient(180deg, rgba(0,49,176,1) 0%, rgba(0,18,67,1) 100%);}
button.bsc:hover{background: rgba(0,11,41,1); background: linear-gradient(180deg, rgba(0,42,149,1) 0%, rgba(0,11,41,1) 100%);}
button.bsc > .tit{display: block; font-size: 18px;}
button.bsc > .sub{display: block; font-size: 14px;}
button.bsc_w{border: 1px solid rgba(0,49,176,1); color: rgba(0,49,176,1); display: inline-block; width: 100%; font-size: 16px; line-height: 20px; padding: 8px; background: rgba(255,255,255,1); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);}
button.bsc_w:hover{background: rgba(227,235,255,1); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(227,235,255,1) 100%);}
button.bsc_w > .tit{display: block; font-size: 18px;}
button.bsc_w > .sub{display: block; font-size: 14px;}
button.bsc_r{border: 1px solid #be2900; color: #fff; display: inline-block; width: 100%; font-size: 16px; line-height: 20px; padding: 8px; background: rgb(228,30,0);   background: linear-gradient(180deg, rgba(228,30,0,1) 0%, rgba(117,37,0,1) 100%);}
button.bsc_r:hover{background: rgb(200,26,0); background: linear-gradient(180deg, rgba(200,26,0,1) 0%, rgba(75,24,0,1) 100%);}
button.bsc_r > .tit{display: block; font-size: 18px;}
button.bsc_r > .sub{display: block; font-size: 14px;}


.login_box .bsc_gld{margin-top:4px; padding:16px 8px;}
.login_box .bsc_wht{margin-top:4px; padding:16px 8px;}

button.bsc_gld{border: 1px solid #AA771C; color: #e3d8bf; display: inline-block; width: 100%; font-size: 18px; line-height: 20px; padding: 8px; box-shadow: 0 7px 14px rgba(0,0,0,.12),0 5px 5px rgba(0,0,0,.11); background: rgb(191,149,63);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);}

button.bsc_gld:hover{border: 1px solid #FCF6BA; color: #fff; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); background: rgb(191,149,63);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 4%, #D1B464 20%, #433413 50.5%, #5d4a1f 100%);}

button.bsc_wht{border: 1px solid rgba(0,49,176,1); color: rgba(0,49,176,1); display: inline-block; width: 100%; font-size: 18px; line-height: 20px; padding: 8px; box-shadow: 0 7px 14px rgba(0,0,0,.12),0 5px 5px rgba(0,0,0,.11); 
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);}

button.bsc_wht:hover{border: 1px solid rgba(0,49,176,1); color: rgba(0,49,176,1); box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); background: rgb(191,149,63);
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);
}

button.bsc_gld_ani{border: 1px solid #AA771C; color: #e3d8bf; display: inline-block; width: 100%; font-size: 18px; line-height: 20px; padding: 8px; box-shadow: 0 7px 14px rgba(0,0,0,.12),0 5px 5px rgba(0,0,0,.11); background: rgb(191,149,63);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);}

button.bsc_gld_ani:hover{border: 1px solid #FCF6BA; color: #fff; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); background: rgb(191,149,63);
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
    radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 4%, #D1B464 20%, #433413 50.5%, #5d4a1f 100%);}

button.btn_menu{background-color: #fff; border-radius: 12px; padding: 12px; box-shadow: 0 3px 5px rgba(0,0,0,.1);}

.btn_box{display: flex; gap: 8px;}
.btn_box.dual_imp button:first-child{flex: 1;}
.btn_box.dual_imp button:nth-child(2){flex: 3;}
.btn_box_s{display: flex; gap: 4px;}
.btn_box_s .tit{display: block; font-size: 16px;}
.btn_box_s .sub{display: block; font-size: 12px;}
.btn_box_s button.bsc .tit{display: block; font-size: 16px;}
.btn_box_s button.bsc .sub{display: block; font-size: 12px;}



.ipt_chk > input[type='checkbox'] + p{display: flex;}
.ipt_chk > input[type='checkbox']{display: none;}
.ipt_chk > input[type='checkbox'] + p::before{content: ''; border: 1px solid #cccccc; background-color: #fff; display: inline-block; width: 16px; height: 16px; border-radius: 4px; margin-top: 1px;}
.ipt_chk > input[type='checkbox']:checked + p::before{background-color: #5c6977; border: 1px solid #5e7083; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23FFFFFF;stroke-width:38;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cpolyline class='st0' points='18,78.4 89.4,144 182,48 '/%3E%3C/svg%3E"); }
.ipt_chk > input[type='checkbox'] + p > span{font-size: 14px; line-height: 18px; margin-left: 4px;}

.ipt_rdo > input[type='radio'] + p{display: flex;}
.ipt_rdo > input[type='radio']{display: none;}
.ipt_rdo > input[type='radio'] + p::before{content: ''; border: 1px solid #cccccc; background-color: #fff; display: inline-block; width: 16px; height: 16px; border-radius: 16px; margin-top: 1px;}
.ipt_rdo > input[type='radio']:checked + p::before{background-color: #5e7083; border: 1px solid #5e7083; background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='a' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 200 200' style='enable-background:new 0 0 200 200;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Ccircle class='st0' cx='100' cy='100' r='53'/%3E%3C/svg%3E%0A");}
.ipt_rdo > input[type='radio'] + p > span{font-size: 14px; line-height: 18px; margin-left: 4px;}

/* login */
.login{display: flex; }
.login::before{content: ''; display: block; flex: 1;}
.login::after{content: ''; display: block; flex: 1;}

.login_wrap{padding: 20px; display: flex; flex-direction: column; z-index: 10; justify-content: space-between; z-index: 10; max-width: 960px;}
.login_wrap > h2{font-size: 22px; color: #ffffff; font-family: OneShinhanM; margin-bottom: 12px; line-height: 28px; text-indent: -9999px;
        background-image: url('../images/logo_w.png'); background-size: cover; width: 96px; height: 19px;
}
.login_wrap > img{width: 100%;}

.login_box{display: flex; margin-top: 8px;}
.login_box > ul{width: 100%; max-width: 400px;}
.login_box::before{content: ''; display: block; flex: 1;}
.login_box::after{content: ''; display: block; flex: 1;}

.login_box > h1 > .admin{display: inline-block; font-size: 14px; color: #fff; background-color: #ff2200; line-height: 18px; padding: 5px 8px; border-radius: 4px; vertical-align: middle; margin-left: 4px;}
.login_box > ul > li{margin-bottom: 4px;}

.login_box button.bsc{padding:15px;}
.login_box input[type='text']{padding:12px 8px; background-color: rgba(0,0,0,0.2); border: 1px solid #fff; border-radius: 4px; color: #fff; backdrop-filter: blur(1px);}
.login_box input[type='text']::placeholder{color: rgba(255,255,255,0.6);}
.login_box input[type='password']{padding:12px 8px; background-color: rgba(0,0,0,0.2); border: 1px solid #fff; border-radius: 4px; color: #fff; backdrop-filter: blur(1px);}
.login_box input[type='password']::placeholder{color: rgba(255,255,255,0.6);}

.mem_info{color: #fff; border: 1px solid rgba(255,255,255,0.4); padding: 8px; border-radius: 8px;}
.mem_info .noti{font-size: 12px; text-align: center;}
.mem_info .info_box{text-align: center;}
.mem_info .info_box .name{font-size: 20px;}

.auth_ipt{position: relative;}
.auth_ipt .auth_time{position: absolute; right: 16px; color: #be2900; font-size: 12px; line-height: 16px; top:50%; margin-top: -8px;}

.per_ico{font-family: OneShinhanB; font-size: 10px; border: 1px solid #5e66ff; color: #5e66ff; display: inline-block;
    border-radius: 4px; margin-left: 4px; height: auto; vertical-align: middle; padding: 1px 5px; margin-top:-16px;}
.per_ico.dealer{border: 1px solid #5e66ff; color: #5e66ff;}
.per_ico.admin{border: 1px solid #009f78; color: #009f78;}

table.sft{border: 1px solid rgba(255,255,255,0.7); font-size: 14px; width: 100%;font-family: OneShinhanl; }
table.sft th{border-bottom: 1px solid rgba(255,255,255,0.7);border-left: 1px solid rgba(255,255,255,0.7); font-weight: normal; background-color: rgba(255,255,255,0.1); text-align: center;}
table.sft thead tr th:first-child{border-left: 0}
table.sft tbody tr:first-child td{border-top:0;}
table.sft td{border-top: 1px solid rgba(255,255,255,0.4); border-left: 1px solid rgba(255,255,255,0.4); text-align: center;}
table.sft tbody tr td:first-child{border-left: 0;}
table.sft .cnt_num{text-align: right; padding:0 4px}



/* layout */

.navbar{position: absolute; width: calc(100% - 80px); left: 80px; top:0px; height: 40px;
    display: flex; flex-wrap: wrap; align-items: center; flex-flow: row nowrap;
    z-index: 100; background-color: #fff; color: #666;  justify-content: space-between; padding: 0.5rem 0.5rem; transition: 0.3s all; border-bottom:1px solid #cccccc;}

.main-sidebar{height: 100vh;min-height: 100%; padding:10px; position: absolute;top: 0; box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); background-color: #001224; width: 80px; transition: 0.3s all;}

.contents_wrap{position: relative; margin-left: 80px; height: 100%; background-color: rgba(0,0,0,.03); transition: 0.3s all; padding:64px 0 0 28px; overflow-y: auto;}

.brand-link label{display: block; text-align: center; font-family: OneShinhanB; color: #fff;}

.main_bar{flex:0; background-color: #fff; padding:8px; display: flex;  gap: 8px; flex-direction: column;}
.main_bar .main_logo{display: inline-block; font-family: OneShinhanB; color: #003fe7; font-size: 18px; line-height: 27px;;}

.per_info{font-size: 0; display: flex; justify-content: space-between; gap: 8px;}
.per_info .name_box{}
.per_info .num{font-size: 14px; align-self: flex-end;}
.per_info .name{font-size: 18px; align-self: flex-end;}



/* dashboard */

.dashboard_dlr{display: flex; flex-direction: column; height: 100%; position: relative;}

.dlr_fnc{flex:1; padding:20px;}
.dlr_fnc > .btn_box{flex-wrap: wrap; margin: 0 auto; max-width: 640px;}
.dlr_fnc > .btn_box > button{width: calc(50% - 4px); height: calc(50% - 4px); aspect-ratio: auto 1/1; line-height: 26px;}
.dlr_fnc > .btn_box > button > .tit{font-size: 20px; display: block;}
.dlr_fnc > .btn_box > button > .sub{font-size: 16px;}

.adm_fnc{flex:1; padding:20px;}
.adm_fnc > .btn_box{margin: 0 auto; max-width: 640px; flex-direction: column;}
.adm_fnc > .btn_box > button{height: calc(50% - 4px); line-height: 24px; padding: 16px 8px;}
.adm_fnc > .btn_box > button > span{font-size: 20px; line-height: 44px;}
.adm_fnc > .btn_box > button > .tit{font-size: 20px; display: block; line-height: 24px;} 
.adm_fnc > .btn_box > button > .sub{font-size: 14px; display: block; line-height: 20px;}

.mdf_pns{padding: 8px; background-color: rgba(0,0,0,0.4); border: 1px solid #fff; backdrop-filter: blur(1px); margin-top:8px; border-radius: 8px;}
.mdf_pns > .pns_btn{display: flex; gap: 8px; justify-content: center; margin-top: 8px;}
.mdf_pns > .pns_btn button.bsc_w{padding: 4px; max-width: 160px;}
.mdf_pns > .pns_btn button.bsc_w > .sub{font-size: 12px;}
.mdf_pns > .pns_btn button.bsc{padding: 4px; max-width: 160px;}
.mdf_pns > .pns_btn button.bsc > .sub{font-size: 12px;}
.mdf_pns > .pns_btn button.bsc_r{padding: 4px; max-width: 160px;}
.mdf_pns > .pns_btn button.bsc_r > .sub{font-size: 12px;}
.mdf_pns > .pns_rst{font-size: 0; text-align: center; margin:16px 0;}
.mdf_pns > .pns_rst .tit{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 22px; font-family: OneShinhanB; margin-right: 4px; letter-spacing: -1px;}
.mdf_pns > .pns_rst .smb{display: inline-block; vertical-align: middle; width: 30px; height: 30px; text-indent: -9999px; background-image: url('../images/coin.png'); background-size: cover;}
.mdf_pns > .pns_rst .crs{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 18px; margin: 0 4px;}
.mdf_pns > .pns_rst .cnt{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 28px; font-family: OneShinhanB;}


.dashboard_wrap{display: flex; gap:8px; margin: 0 0 16px -28px; padding: 0 28px 28px; border-bottom: 1px solid #cccccc;}
.dashboard_wrap .item{flex:1; border: 1px solid #999999; background-color: #fff; border-radius: 12px; padding: 12px; box-shadow: 0 3px 5px rgba(0,0,0,.1);}
.dashboard_wrap .item span{display: block; text-align: center;}
.dashboard_wrap .item span.tit{font-size: 14px;}
.dashboard_wrap .item span.sub{font-size: 22px; font-family: OneShinhanB}


.board_list > ul{display: block; }
.board_list > ul > li{border-bottom: 1px solid #ccc; }
.board_list > ul > li > a{display: block; padding:20px 12px; color: #333; transition: all 0.2s;}
.board_list > ul > li > a:hover{background-color: #e6f2ff;}
.board_list > ul > li > a:first-child{border-top:none;}
.board_list > ul > li > a .num{width: 30px; text-align: center;}
.board_list > ul > li > a.item_rep{margin: 0 28px 20px 42px; border-radius: 12px; background-color: #eeeeee;}
.board_list > ul > li > a.item_rep:hover{background-color: #e6f2ff;}
.board_list .item .sts_box{display: flex;}
.board_list .item .tit{font-size: 22px; color: #333;}

.board_list .sel_frm .tit{display: none;}



/* greeting */

.greeting{color: #fff; text-align: center; padding: 32px 8px 32px 8px;}
.greeting > img{width: 60%;}
.greeting .user{font-size: 16px; font-family: OneShinhanL}
.greeting .user .name{font-family: OneShinhanB}
.greeting .user .num{font-size: 12px;}

.sum_pnt{position: relative; color: #fff; text-align: center; padding: 32px 8px 32px 8px;}
.sum_pnt::before{content: ''; display: block; position: absolute; width: 10px; left: 50%; top:0; margin-left: -5px; height: 1px; background-color: rgba(255,255,255,0.4)}
.sum_pnt > p{margin-bottom: 12px;}
.pnt_box{display: flex;}
.pnt_box .pnts{font-size: 0px; line-height: 60px;}
.pnt_box .pnts .mlt{display: inline-block; font-size: 20px; line-height: 60px; vertical-align: middle; padding: 0 12px;}
.pnt_box .pnts .num{display: inline-block; font-size: 50px; line-height: 60px; vertical-align: middle;}
.pnt_box::before{content: ''; display: block; flex: 1;}
.pnt_box::after{content: ''; display: block; flex: 1;}
.img_coin{width: 60px; height: 60px;}

.lst_pnt{position: relative; color: #fff; text-align: center; padding: 32px 8px 32px 8px;}
.lst_pnt::before{content: ''; display: block; position: absolute; width: 10px; left: 50%; top:0; margin-left: -5px; height: 1px; background-color: rgba(255,255,255,0.4);}
.lst_pnt > p{margin-bottom: 12px;}
.lst_pnt > ul{font-size: 0; text-align: center;}
.lst_pnt > ul > li{display: inline-block; margin:4px;}
.lst_pnt .point{position: relative; width: 140px; height: 140px; background-image: url('../images/coin_emt.png'); background-size: cover;}
.lst_pnt .point > .num{position: absolute; display: block; font-family: OneShinhanB; font-size: 35px; line-height: 40px; top:50%; margin-top: -20px; width: 100%; left: 0;
    color: #FEE884; text-shadow: 0px 3px 6px rgba(0,0,0,0.5);}
.lst_pnt .point > .done{position: absolute; top:0; left: 0; display: block; width: 100%; height: 100%; border-radius: 100%; backdrop-filter: grayscale(100%) blur(2px); border:8px solid #be2900; color:#be2900}
.lst_pnt .point > .done > span{position: absolute; display: block; font-family: OneShinhanB; font-size: 26px; line-height: 40px; top:50%; margin-top: -20px; width: 100%; left: 0; transform: rotate(-30deg)}

.ntc_box{color: #fff; margin: 20px auto; padding: 16px;}
.ntc_inr{border: 1px solid rgba(255,255,255,0.4); background-color: rgba(255,255,255,0.1); padding: 16px; max-width: 400px; border-radius: 8px; margin: 0px auto;}
.ntc_inr p{margin-bottom: 8px;}
.ntc_inr > ul > li{font-family: OneShinhanL; position: relative; font-size: 14px; line-height: 22px; padding-left: 8px;}
.ntc_inr > ul > li::before{content: ''; position: absolute; display: block; width: 2px; height: 2px; top:50%; margin-top:-1px; left: 2px; background-color: rgba(255,255,255,0.4);}

.ft_ci{text-align: center; padding: 10px 0 50px; flex: 0;}
.ft_ci > span{display: inline-block;  text-indent: -9999px; background-image: url('../images/logo_w.png'); background-size: cover; width: 96px; height: 19px; opacity: 0.4;}

.ft_bt{position: fixed; width: 100%; bottom: 0; left: 0; padding:12px; background: rgba(255,255,255,1); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%);}
.ft_bt > .btn_box > button{line-height: 26px; max-width: 640px; margin: 0 auto;}
.ft_bt > .btn_box > button > .tit{display: block; font-size: 20px;}
.ft_bt > .btn_box > button > .sub{font-size: 16px;}

.ft_ept{padding-top: 100px;}



/* content */

.sch_box{color: #fff; padding:12px;}
.sch_box > .tit{font-size: 16px; margin-bottom:8px;}
.sch_box_dep{color: #fff; padding:12px;}
.sch_box_dep > .tit{font-size: 16px; margin-bottom:8px;}
.sch_lin{display: flex; gap: 8px; margin-bottom:8px;}
.sch_lin > input{flex: 1;}
.sch_lin > button{width: 100px;}
.mem_card{border: 1px solid #fff; color: #111; padding: 8px; display: flex; justify-content: space-between; border-radius: 8px; background: rgba(255,255,255,1); background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(221,221,221,1) 100%); box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);}
.mem_card .count{font-size: 18px; font-family: OneShinhanB;}
.mem_card .info .name{font-size: 18px; display: block; font-family: OneShinhanB;}
.mem_card .info .num{font-size: 14px;}
.mem_card .pnts{width: 100px; font-size: 0; text-align: center;}
.mem_card .pnts .smb{display: inline-block; vertical-align: middle; width: 40px; height: 40px; text-indent: -9999px; background-image: url('../images/coin.png'); background-size: cover;}
.mem_card .pnts .crs{display: inline-block; line-height: 40px; vertical-align: middle; font-size: 14px; margin: 0 4px;}
.mem_card .pnts .cnt{display: inline-block; line-height: 40px; vertical-align: middle; font-size: 22px; font-family: OneShinhanB;}
.no_rst{border: 1px solid #fff; padding: 16px; text-align: center; border: 1px solid rgba(255,255,255,0.4); background-color: rgba(255,255,255,0.1); border-radius: 8px;;}

.game_room{color: #fff; padding:12px; border-top:1px solid rgba(255,255,255,0.4)}
.game_room > .tit{font-size: 16px; margin-bottom:8px;}
.game_room > ul{display: flex; flex-wrap: wrap; gap: 8px;}
.game_room > ul > li{width: calc(50% - 4px);}

.mem_lst{color: #fff; padding:12px;}
.mem_lst .on_playing{background-color: #be2900; color: #fff; border-radius: 30px; padding:8px; text-align: center; margin-bottom: 12px;;}
.mem_lst .mem_card{align-items: center;}
.mem_lst > ul{display: flex; gap: 8px; flex-direction: column;}

.hsr_all{color: #fff; padding:12px;}
.hsr_all > ul > li{margin-top:12px;}
.hsr_all > ul > li:first-child{margin-top:0;}
.hsr_all > ul > li > .tit{font-size: 16px; margin-bottom:8px;}

.scr_vew{color: #fff; padding:12px;}
.scr_vew > .tit{font-size: 16px; margin-bottom:8px;}
.scr_num{display: flex; justify-content: center; padding: 8px; border: 1px solid rgba(255,255,255,0.4); border-radius: 8px; gap: 4px;}
.scr_num > span{display: block; border: 1px solid rgba(255,255,255,0.2); width: 30px; text-align: center; font-size: 30px; font-family: OneShinhanB;}

.chs_num{color: #fff; padding:12px; border-top:1px solid rgba(255,255,255,0.4)}
.chs_num > .tit{font-size: 16px; margin-bottom:8px;}
.num_lst{font-size: 0;}
.num_lst > span{display: inline-block; font-size: 20px; padding: 4px 8px; border-radius: 8px; margin:2px; border: 1px solid rgba(255,255,255,0.4);}

.mem_name{margin-bottom: 8px;}
.mem_rst{border: 1px solid #fff; padding: 8px; border: 1px solid rgba(255,255,255,0.4);border-radius: 8px;;}
.now_pns{font-size: 0; text-align: center; margin-top:8px;}
.now_pns .tit{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 18px; font-family: OneShinhanB; margin-right: 4px;}
.now_pns .smb{display: inline-block; vertical-align: middle; width: 30px; height: 30px; text-indent: -9999px; background-image: url('../images/coin.png'); background-size: cover;}
.now_pns .crs{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 14px; margin: 0 4px;}
.now_pns .cnt{display: inline-block; line-height: 30px; vertical-align: middle; font-size: 22px; font-family: OneShinhanB;}


.pnt_all{padding:12px; width: 100%; max-width: 1080px; margin: 0 auto;}
.pnt_all table.sft{color: #fff;}
.pnt_all .btn_box{margin-bottom: 8px;}
.pnt_all .pnt_num{display: inline-block; border: 1px solid rgba(255,255,255,0.3); font-size: 12px; padding:0px 4px; border-radius: 8px; margin:1px}
.pnt_all table.sft button.bsc_w{font-size: 12px; line-height: 14px; padding:4px; }






/* popup */

.popup{z-index: 100; position: fixed; display: flex; flex-direction: column; align-items: center; width: 100%; height: 100%; top:0; right: 0; left: 0; bottom: 0; background-color: rgba(0,0,0,.4); backdrop-filter: blur(4px); }
.popup::before{content: ''; display: block; flex: 1;}
.popup::after{content: ''; display: block; flex: 1;}

.popup_box{background: rgb(255,255,255); background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(232,232,232,1) 100%); box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22); border-radius: 8px; min-width: 240px; text-align: center;}
.popup_box > .header{padding: 20px 8px 8px 8px;}
.popup_box > .cont{padding: 8px;}
.popup_box > .footer{padding: 8px;}


/* txt_img */
.txt_img{display: inline-block; width: 46px; height: 46px; line-height: 46px; color: #fff;  border-radius: 100%; font-size: 30px; font-family: OneShinhanB;  background: radial-gradient(circle, rgba(0,49,176,1) 0%, rgba(0,18,67,1) 100%);}



/* slot machine */

.slotm{position: relative; width: 100%; height: 100%; display: flex; flex-direction: column; }
.slotm::before{content: ''; display: block; flex: 1;}
.slotm::after{content: ''; display: block; flex: 1;}
.slot_box{width: 70%; margin: 0 auto;}

.slot_test{position: absolute; width: 300px; display: flex; bottom: 10px; left: 50%; margin-left: -150px;}

.slotwrapper {
    width: 100%;
    overflow: hidden;
    display: block;
    height: 200px;
}
.slotwrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    float: left;
    width: 25%;
    height:200px;
    font-size: 200px;
    line-height: 200px;
    text-align: center;
}

.slotwrapper li {color: #fff;}

/* bg */

.bg{position: fixed; width: 100%; height: 100%; top:0; left: 0; z-index: 0;}
.golddust_cvs{pointer-events:none;}


/* PC & tablet size */

@media (min-width: 768px) {
    .main_bar{flex-direction: row; justify-content: space-between;}
    .per_info{align-items: center;}
    .sch_box{width: 768px; margin: 0 auto;}
    .sch_box_dep{position: absolute; width: 50%; max-width: 640px; top: 53px; right: 50%; height: calc(100% - 148px); overflow-y: auto;}
    .game_room{position: absolute; width: 50%; max-width: 640px; top: 53px; left: 50%; height: calc(100% - 148px); border-left: 1px solid rgba(255,255,255,0.4); overflow-y: auto;}
    .mem_lst{width: 720px; margin: 0 auto;}
    .hsr_all{width: 768px; margin: 0 auto;}
    .mdf_pns > .pns_btn button.bsc{padding:12px;}
    .mdf_pns > .pns_btn button.bsc_r{padding:12px;}
}